p { /*select element by TAG*/
    font-size: 20px;
    font-weight: bold;
    color: red
}

.color1 { /*select element by class*/
    color: white ;
    background-color: black;
}

#color2 { /*select element by ID*/
    color: pink
}

.colorBlack {
    color: black
}